$pad: 10px;
$font-family: "Open Sans", sans-serif;
$bgcolor-main: #1e2130;
// $bgcolor-lighter: lighten($bgcolor-main, 10%);
$darkest-blue: #161a28;
$offwhite: #f3f5f4;
$fontsize-sectionheader: 19px;
$fontsize-plottitle: 13px;
$lightgrey: #b2b2b2;
$mediumgrey: #30333d;
$fontsize-tableitem: 14px;
$fontsize-plot-footer: 14px;

$main-title-height: 40px;
$plot-title-height: 26px;

$graph-height: 22vh;

*{
  box-sizing: border-box;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

div.main{
  background-color: $bgcolor-main; //green;
  padding: $pad;
  margin: 0;
  //height: 100vh;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;
}


div.top-row{ // the top half, containing (currently) only pressure and mass section
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  background-color: yellow;
  margin: $pad 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  div#pressure-mass-section{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    background-color: $darkest-blue;
    padding: $pad;
    margin: 0;

    div.section-plots{
      display: flex;
      flex-flow: row nowrap;
      margin: 0 0-$pad/2;
      
      div.graph-container{
        display: flex;
        flex-flow: column nowrap;
        background-color: transparent;
        margin: $pad $pad/2 0 $pad/2;
        flex-grow: 1;
        flex-basis: 0;
        // align-items: stretch;

        .dash-graph{
          background-color: red;
          width: 100%;
          // flex-basis: 200px;
          // min-width: 200px;
          // height: 150px;
          height: $graph-height;
        }
      }
    }
  }
}

div.bot-row{
  display: flex;
  flex-flow: row nowrap;
  margin: $pad 0-$pad auto 0-$pad;
  justify-content: stretch;
  align-items: stretch;
  background-color: transparent;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  div#ignition-currents-section{
    // flex-grow: 2;
  }

  div.section{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: stretch;
    background-color: $darkest-blue;
    padding: $pad;
    margin: 0 $pad;

    div.section-plots{
      display: flex;
      flex-flow: row nowrap;
      margin: 0 0-$pad/2;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      
      div.graph-container{
        display: flex;
        flex-flow: column nowrap;
        background-color: transparent;
        margin: $pad $pad/2 0 $pad/2;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;

        .dash-graph{
          width: 100%;
          height: $graph-height;
        }
      }
    }
  }
}

div#valves-table{
  width: 250px;
}

div#voltages-table{
  width: 250px;
}

div.plot-footer{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: $pad 0-$pad/2 0 0;
  padding: 0;
  font-weight: 100;

  div.plot-footer-subsection{
    display: flex;
    flex-flow: row nowrap;
    font:{
      size: $fontsize-plot-footer;
    }
    background-color: $bgcolor-main;
    margin: 0 $pad/2 0 0;

    p.plot-footer-label, .plot-footer-value{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: $pad/2;
      margin: 0 0 0 0;
      background-color: transparent;
      border: none;
      font: {
        family: $font-family;
      }
    }
    
    p.plot-footer-label{
      color: $lightgrey;
      text-align: right;
      font: {
        size: $fontsize-plot-footer;
      }
    }
    
    p.plot-footer-label.adj{
      color: $offwhite;
      font:{
        weight: bold;
      }
    }

    .plot-footer-value{
      color: mix($lightgrey, $offwhite, 0%);
    }

    input.plot-footer-value{
      width: 40px;
    }

    .plot-footer-value.adj{
      font: {
        size: $fontsize-plot-footer;
        weight: bold;
      }
      color: $offwhite;
    }
  }
  div.plot-footer-subsection.adj{
    background: $mediumgrey;
    flex-basis: 33%;
  }
}
    
div.table-main{
  display: flex;
  flex-flow: row nowrap;
  color: mix($lightgrey, $mediumgrey, 50%);
  margin: $pad 0-$pad 0 0-$pad;
  justify-content: stretch;
  flex-grow: 1;
  flex-shrink: 1;

  div.table-column{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 $pad;
    font:{
      size: $fontsize-tableitem;
    }

    .column-title{
      font: {
        size: $fontsize-tableitem + 2px;
      }
      color: mix($lightgrey, $mediumgrey, 90%);
      margin-bottom: $pad;
    }

    .table-item-leftmost{
      // flex-grow: 1;
      // flex-shrink: 1;
      // flex-basis: 0;
      // color: mix($lightgrey, $mediumgrey, 85%);
      color: $lightgrey;
      text-align: right;
    }
    
    .table-item{
      // flex-grow: 1;
      // flex-shrink: 1;
      // flex-basis: 0;
      margin-bottom: auto;
    }

    .table-item-fixed-width{
      // flex-grow: 1;
      // flex-shrink: 1;
      // flex-basis: 0;
      width: 80px;
    }
  }
}

#voltages-section{
}

p{
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.connectionState-Unknown{
  color: yellow;
}
.connectionState-Illegal{
  color: white;
  background-color: red;
}
.connectionState-Open{
  color: #00FF00;
}
.connectionState-Closed{
  color: red;
}

body{
  margin: 0;
}

h1#main-title{ //main title
  margin: 0;
  font-family: $font-family;
  font-weight: 300;
  color: $offwhite;
  height: $main-title-height;
}

.section-header{
  margin: 0;
  color: $offwhite;
  font: {
    family: $font-family;
    weight: 300;
    size: $fontsize-sectionheader;
  }
}

.plot-title{
  margin: 0;
  padding: $pad/2 0;
  color: $offwhite;
  font: {
    weight: 300;
    family: $font-family;
    size: $fontsize-plottitle;
  }
  text-align: center;
  background: $mediumgrey;
  height: $plot-title-height;
}

.dash-debug-menu{
  top: 10px;
}


// Hiding the arrows on number input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
