* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0; }

div.main {
  background-color: #1e2130;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden; }

div.top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  background-color: yellow;
  margin: 10px 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; }
  div.top-row div#pressure-mass-section {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    background-color: #161a28;
    padding: 10px;
    margin: 0; }
    div.top-row div#pressure-mass-section div.section-plots {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -5px; }
      div.top-row div#pressure-mass-section div.section-plots div.graph-container {
        display: flex;
        flex-flow: column nowrap;
        background-color: transparent;
        margin: 10px 5px 0 5px;
        flex-grow: 1;
        flex-basis: 0; }
        div.top-row div#pressure-mass-section div.section-plots div.graph-container .dash-graph {
          background-color: red;
          width: 100%;
          height: 22vh; }

div.bot-row {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px -10px auto -10px;
  justify-content: stretch;
  align-items: stretch;
  background-color: transparent;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0; }
  div.bot-row div.section {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: stretch;
    background-color: #161a28;
    padding: 10px;
    margin: 0 10px; }
    div.bot-row div.section div.section-plots {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -5px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto; }
      div.bot-row div.section div.section-plots div.graph-container {
        display: flex;
        flex-flow: column nowrap;
        background-color: transparent;
        margin: 10px 5px 0 5px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0; }
        div.bot-row div.section div.section-plots div.graph-container .dash-graph {
          width: 100%;
          height: 22vh; }

div#valves-table {
  width: 250px; }

div#voltages-table {
  width: 250px; }

div.plot-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px -5px 0 0;
  padding: 0;
  font-weight: 100; }
  div.plot-footer div.plot-footer-subsection {
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    background-color: #1e2130;
    margin: 0 5px 0 0; }
    div.plot-footer div.plot-footer-subsection p.plot-footer-label, div.plot-footer div.plot-footer-subsection .plot-footer-value {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 5px;
      margin: 0 0 0 0;
      background-color: transparent;
      border: none;
      font-family: "Open Sans", sans-serif; }
    div.plot-footer div.plot-footer-subsection p.plot-footer-label {
      color: #b2b2b2;
      text-align: right;
      font-size: 14px; }
    div.plot-footer div.plot-footer-subsection p.plot-footer-label.adj {
      color: #f3f5f4;
      font-weight: bold; }
    div.plot-footer div.plot-footer-subsection .plot-footer-value {
      color: #f3f5f4; }
    div.plot-footer div.plot-footer-subsection input.plot-footer-value {
      width: 40px; }
    div.plot-footer div.plot-footer-subsection .plot-footer-value.adj {
      font-size: 14px;
      font-weight: bold;
      color: #f3f5f4; }
  div.plot-footer div.plot-footer-subsection.adj {
    background: #30333d;
    flex-basis: 33%; }

div.table-main {
  display: flex;
  flex-flow: row nowrap;
  color: #717378;
  margin: 10px -10px 0 -10px;
  justify-content: stretch;
  flex-grow: 1;
  flex-shrink: 1; }
  div.table-main div.table-column {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10px;
    font-size: 14px; }
    div.table-main div.table-column .column-title {
      font-size: 16px;
      color: #a5a5a6;
      margin-bottom: 10px; }
    div.table-main div.table-column .table-item-leftmost {
      color: #b2b2b2;
      text-align: right; }
    div.table-main div.table-column .table-item {
      margin-bottom: auto; }
    div.table-main div.table-column .table-item-fixed-width {
      width: 80px; }

p {
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Opera and Firefox */ }

.connectionState-Unknown {
  color: yellow; }

.connectionState-Illegal {
  color: white;
  background-color: red; }

.connectionState-Open {
  color: #00FF00; }

.connectionState-Closed {
  color: red; }

body {
  margin: 0; }

h1#main-title {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #f3f5f4;
  height: 40px; }

.section-header {
  margin: 0;
  color: #f3f5f4;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 19px; }

.plot-title {
  margin: 0;
  padding: 5px 0;
  color: #f3f5f4;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  text-align: center;
  background: #30333d;
  height: 26px; }

.dash-debug-menu {
  top: 10px; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

/*# sourceMappingURL=graphs.css.map */
